body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f9f9f9;
}

#filter-section {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px #ccc;
  margin-bottom: 20px;
}

#filter-section label {
  margin-right: 10px;
  font-weight: bold;
}

#filter-section select,
#filter-section input[type="date"] {
  margin-right: 20px;
  padding: 5px;
}

#flags label {
  margin-right: 15px;
}

#buttons {
  margin-top: 10px;
  margin-bottom: 10px;
}

#buttons button {
  margin-right: 10px;
  padding: 6px 12px;
  cursor: pointer;
}

#mode-switch {
  margin-top: 10px;
}

#graph-section {
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px #ccc;
}

svg#chart {
  width: 100%;
  height: 500px;
}

.tooltip {
  position: absolute;
  background-color: white;
  border: solid 1px grey;
  border-radius: 5px;
  padding: 10px;
  opacity: 0;
  pointer-events: none;
  font-size: 13px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
